:root {
  --primary-blue: #0075be;
  --primary-red: #fb1b1b;
  --primary-yellow: #fc0;
  --footer-blue: #30a7d7;
}

* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-top: 120px;
}

header {
  background-color: var(--primary-red);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  align-items: center;
}

a {
  text-decoration: none;
}

#navbar-ul {
  gap: 20px;
}

#header-logo {
  width: 150px;
}

#pokemon-logo {
  width: 100%;
}

.flex {
  display: flex;
}

#pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer {
  background-color: var(--footer-blue);
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer-logo {
  width: 40px;
}

#pokeball-logo {
  width: 100%;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}
