:root {
  --primary-blue: #0075be;
  --secondary-blue: #0A285F;
  --primary-red: #fb1b1b;
  --primary-yellow: #fc0;
  --footer-blue: #30a7d7;
}

* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding-inline-start: 0px
}

body {
  padding-top: 120px;
}

header {
  background-color: var(--primary-red);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  align-items: center;
}

a {
  text-decoration: none;
}

#navbar-ul {
  gap: 20px;
}

#header-logo {
  width: 150px;
}

#pokemon-logo {
  width: 100%;
}

.flex {
  display: flex;
}

footer {
  background-color: var(--footer-blue);
  align-items: center;
}

#footer-logo {
  width: 40px;
}

#pokeball-logo {
  width: 100%;
  padding: 5px;
}

/* Styling for the POP UP Window */

#comments_popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  backdrop-filter: blur(5px);
  transition: 
  transform 0.5s ease-in-out,
  opacity 0.5s ease-in-out;
}

#popup_container {
  background: white;
  border: 5px solid var(--secondary-blue);
  padding: 1em;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
  height: 90vh;
}

#popup_picture_container {
  max-width: 300px;
  /* background: var(--footer-blue); */
}

#popup_picture {
  width: 100%;
  box-shadow: 0 0 0 10px var(--secondary-blue);
  border-radius: 10px;
  background: url(./img/Pokemon_placeholder.png), var(--footer-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

#popup_close {
  width: 40px;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
}

#popup_details {
  width: 50%;
  height: 150px;
  border: 2px solid var(--secondary-blue);
  text-align: -webkit-center;
}

.detail_item {
  width: 40%;
}

.detail_property {
  width: 40%;
  text-align: right;
}

#popup_comments {
  width: 100%;
  text-align: -webkit-center;
}

#comments_box {
  width: 50%;
  height: 150px;
  border: 2px solid var(--secondary-blue);
  overflow-y: auto;
}

#popup_add_comments {
  text-align: -webkit-center;
}

#add_comment_form {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem
}

.hidden {
  transform: translate(100%);
  opacity: 0;
}

.show {
  opacity: 1;
}